In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import pycountry
from pymongo import MongoClient

In [2]:
df = pd.read_csv('us_stations.csv')

/opt/anaconda3/envs/pythondata/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (11,18,21,32,43,54,55,76,77) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df

,UserComments,PercentageSimilarity,MediaItems,IsRecentlyVerified,DateLastVerified,ID,UUID,ParentChargePointID,DataProviderID,DataProvidersReference,...,"AddressInfo,ContactTelephone1","AddressInfo,ContactTelephone2","AddressInfo,ContactEmail","AddressInfo,AccessComments","AddressInfo,RelatedURL","AddressInfo,Distance","AddressInfo,DistanceUnit",OperatorInfo,UsageType,StatusType
0,NaN,NaN,"[{'ID': 38137, 'ChargePointID': 266660, 'ItemU...",True,2023-06-10T17:32:00Z,266660,2D4B83E6-BF8E-467C-A7F9-8338E7672025,NaN,1,NaN,...,NaN,NaN,NaN,Left side of the building,NaN,NaN,0,NaN,NaN,NaN
1,NaN,NaN,NaN,True,2023-06-06T08:53:00Z,266517,3E3A8714-A675-4D04-8851-71FB50C6934E,NaN,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2,NaN,NaN,NaN,True,2023-06-06T08:54:00Z,266514,657321E7-0624-4635-83D6-EB7385307BB3,NaN,1,NaN,...,NaN,NaN,NaN,NaN,http://www.one.ai,NaN,0,NaN,NaN,NaN
3,"[{'ID': 28629, 'ChargePointID': 265966, 'Comme...",NaN,"[{'ID': 37913, 'ChargePointID': 265966, 'ItemU...",True,2023-06-10T21:36:00Z,265966,ADC0F3CF-6BF8-4829-989B-512E0FADC033,NaN,1,NaN,...,5134892000,8887584389.0,NaN,located between used and new showrooms,http://chargepoint.com,NaN,0,NaN,NaN,NaN
4,NaN,NaN,"[{'ID': 37878, 'ChargePointID': 265930, 'ItemU...",True,2023-05-26T11:02:00Z,265930,FB3F7D75-D0C1-4A0F-99D6-D3B381F0665A,NaN,1,NaN,...,NaN,NaN,NaN,Last parking spot on northwest corner of parki...,NaN,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55189,NaN,NaN,NaN,False,2014-04-20T20:29:00Z,2399,9EA3760E-B2DE-4A6C-BB4B-61E2FF227098,NaN,1,NaN,...,888-758-4389,NaN,NaN,24 hours daily,http://www.mychargepoint.net/,NaN,0,NaN,NaN,NaN
55190,NaN,NaN,NaN,False,2020-06-26T03:00:00Z,2396,67D384CC-7DDD-4D21-88DE-368F084F4818,NaN,2,1533.0,...,NaN,NaN,NaN,Permitted state legislators only,NaN,NaN,0,NaN,NaN,NaN
55191,NaN,NaN,NaN,True,2023-05-01T05:22:00Z,2391,D7FC190B-FC68-44CB-BDF1-4B23865EEA75,NaN,2,1525.0,...,NaN,NaN,NaN,For fleet and employee use only,NaN,NaN,0,NaN,NaN,NaN
55192,NaN,NaN,NaN,True,2023-05-01T05:21:00Z,2389,4F45220C-E16E-496A-9E9F-EDFD71BC679A,NaN,2,1523.0,...,213-741-1151,NaN,NaN,5:30am-9pm; pay lot,NaN,NaN,0,NaN,NaN,NaN
55193,NaN,NaN,NaN,False,2019-04-06T04:01:00Z,2388,0DEC69A1-CD73-41B3-99FE-AF37DC29B1CD,NaN,2,1520.0,...,NaN,NaN,NaN,Employee use only,http://greenlots.com/,NaN,0,NaN,NaN,NaN

In [4]:
# Create a new DataFrame with selected columns
location_columns = ['AddressInfo,Country,Title', 'AddressInfo,Latitude', 'AddressInfo,Longitude','DateCreated','AddressInfo,Title','UsageType,Title']
location_df = df[location_columns].copy()
location_df

,"AddressInfo,Country,Title","AddressInfo,Latitude","AddressInfo,Longitude",DateCreated,"AddressInfo,Title","UsageType,Title"
0,United States,42.226131,-83.622834,2023-06-10T17:31:00Z,Range USA,Public
1,United States,43.530314,-89.777151,2023-06-05T18:12:00Z,Ho-Chunk Gaming - Wisconsin Dells,"Private - For Staff, Visitors or Customers"
2,United States,42.494269,-83.493251,2023-06-05T16:13:00Z,Our Next Energy,"Private - For Staff, Visitors or Customers"
3,United States,39.263736,-84.336704,2023-05-25T12:13:00Z,Chargepoint Hyundai dealership,Public - Membership Required
4,United States,35.720474,-79.175109,2023-05-24T17:00:00Z,Eagles Gas Station,Public
...,...,...,...,...,...,...
55189,United States,38.438052,-122.711357,2010-11-30T00:00:00Z,CITYOFSANTAROSA,Private - Restricted Access
55190,United States,38.576769,-121.495022,2010-10-31T00:00:00Z,State Capitol Parking Garage,Private - Restricted Access
55191,United States,34.059133,-118.248589,2010-08-31T00:00:00Z,LADWP - John Ferraro Building,Private - Restricted Access
55192,United States,34.040539,-118.271387,2010-08-31T00:00:00Z,Los Angeles Convention Center,Public
55193,United States,34.050745,-118.081014,2011-04-30T00:00:00Z,Southern California Edison - Rosemead Office B...,Private - Restricted Access

In [5]:
df = location_df.rename(columns={
    'AddressInfo,Country,Title': 'Country',
    'AddressInfo,Latitude': 'Latitude',
    'AddressInfo,Longitude': 'Longitude',
    'DateCreated': 'Date_Created',
    'AddressInfo,Title': 'Title',
    'UsageType,Title': 'Usage_Type'
})

df

,Country,Latitude,Longitude,Date_Created,Title,Usage_Type
0,United States,42.226131,-83.622834,2023-06-10T17:31:00Z,Range USA,Public
1,United States,43.530314,-89.777151,2023-06-05T18:12:00Z,Ho-Chunk Gaming - Wisconsin Dells,"Private - For Staff, Visitors or Customers"
2,United States,42.494269,-83.493251,2023-06-05T16:13:00Z,Our Next Energy,"Private - For Staff, Visitors or Customers"
3,United States,39.263736,-84.336704,2023-05-25T12:13:00Z,Chargepoint Hyundai dealership,Public - Membership Required
4,United States,35.720474,-79.175109,2023-05-24T17:00:00Z,Eagles Gas Station,Public
...,...,...,...,...,...,...
55189,United States,38.438052,-122.711357,2010-11-30T00:00:00Z,CITYOFSANTAROSA,Private - Restricted Access
55190,United States,38.576769,-121.495022,2010-10-31T00:00:00Z,State Capitol Parking Garage,Private - Restricted Access
55191,United States,34.059133,-118.248589,2010-08-31T00:00:00Z,LADWP - John Ferraro Building,Private - Restricted Access
55192,United States,34.040539,-118.271387,2010-08-31T00:00:00Z,Los Angeles Convention Center,Public
55193,United States,34.050745,-118.081014,2011-04-30T00:00:00Z,Southern California Edison - Rosemead Office B...,Private - Restricted Access

In [7]:
# Load the shapefile data for states
states = gpd.read_file('tl_rd22_us_state/tl_rd22_us_state.shp')

In [8]:
# Load the county shapefile
counties = gpd.read_file('tl_rd22_us_county/tl_rd22_us_county.shp')

In [9]:
# Create a new column in the DataFrame to store the state and county information
df['State'] = ''
df['County'] = ''

In [10]:
# Define the CRS of the latitude and longitude points
crs = "EPSG:4326"  # Assuming the coordinates are in WGS84

In [11]:
# Convert latitude and longitude to Point geometries with the defined CRS
geometry = [Point(xy) for xy in zip(df['Longitude'], df['Latitude'])]
geo_df = gpd.GeoDataFrame(df, geometry=geometry, crs=crs)

In [13]:
# Reset the indices of the GeoDataFrames
states = states.reset_index(drop=True)
counties = counties.reset_index(drop=True)

In [14]:
# Reproject the state and county shapefiles to match the CRS of the latitude and longitude points
states = states.to_crs(crs)
counties = counties.to_crs(crs)

In [15]:
# Perform spatial join to assign state information to all points
joined_states = gpd.sjoin(geo_df, states, how='left', op='within')

In [16]:
# Update the 'State' column in the DataFrame with the state information
df['State'] = joined_states['NAME']

In [17]:
# Filter the joined DataFrame to keep only the rows with state information
joined_states_counties = joined_states.dropna(subset=['NAME'])

In [18]:
# Perform spatial join to assign county information to the state-filtered points
joined_counties = gpd.sjoin(joined_states_counties, counties, how='left', op='within', lsuffix='_left', rsuffix='_right')

In [19]:
# Update the 'County' column in the DataFrame with the county information
df['County'] = joined_counties['NAME__right']

In [20]:
df

,Country,Latitude,Longitude,Date_Created,Title,Usage_Type,State,County,geometry
0,United States,42.226131,-83.622834,2023-06-10T17:31:00Z,Range USA,Public,Michigan,Washtenaw,POINT (-83.62283 42.22613)
1,United States,43.530314,-89.777151,2023-06-05T18:12:00Z,Ho-Chunk Gaming - Wisconsin Dells,"Private - For Staff, Visitors or Customers",Wisconsin,Sauk,POINT (-89.77715 43.53031)
2,United States,42.494269,-83.493251,2023-06-05T16:13:00Z,Our Next Energy,"Private - For Staff, Visitors or Customers",Michigan,Oakland,POINT (-83.49325 42.49427)
3,United States,39.263736,-84.336704,2023-05-25T12:13:00Z,Chargepoint Hyundai dealership,Public - Membership Required,Ohio,Hamilton,POINT (-84.33670 39.26374)
4,United States,35.720474,-79.175109,2023-05-24T17:00:00Z,Eagles Gas Station,Public,North Carolina,Chatham,POINT (-79.17511 35.72047)
...,...,...,...,...,...,...,...,...,...
55189,United States,38.438052,-122.711357,2010-11-30T00:00:00Z,CITYOFSANTAROSA,Private - Restricted Access,California,Sonoma,POINT (-122.71136 38.43805)
55190,United States,38.576769,-121.495022,2010-10-31T00:00:00Z,State Capitol Parking Garage,Private - Restricted Access,California,Sacramento,POINT (-121.49502 38.57677)
55191,United States,34.059133,-118.248589,2010-08-31T00:00:00Z,LADWP - John Ferraro Building,Private - Restricted Access,California,Los Angeles,POINT (-118.24859 34.05913)
55192,United States,34.040539,-118.271387,2010-08-31T00:00:00Z,Los Angeles Convention Center,Public,California,Los Angeles,POINT (-118.27139 34.04054)
55193,United States,34.050745,-118.081014,2011-04-30T00:00:00Z,Southern California Edison - Rosemead Office B...,Private - Restricted Access,California,Los Angeles,POINT (-118.08101 34.05074)

In [27]:
df = df.fillna('NONE')

In [ ]:
df['Date_Created'] = pd.to_datetime(df['Date_Created']).dt.date

In [ ]:
desired_column_order = ['Title', 'Usage_Type','County', 'State', 'Country', 'Latitude', 'Longitude', 'Date_Created']
df = df.reindex(columns=desired_column_order)

In [ ]:
df

,Title,Usage_Type,County,State,Country,Latitude,Longitude,Date_Created
0,Range USA,Public,Washtenaw,Michigan,United States,42.226131,-83.622834,2023-06-10
1,Ho-Chunk Gaming - Wisconsin Dells,"Private - For Staff, Visitors or Customers",Sauk,Wisconsin,United States,43.530314,-89.777151,2023-06-05
2,Our Next Energy,"Private - For Staff, Visitors or Customers",Oakland,Michigan,United States,42.494269,-83.493251,2023-06-05
3,Chargepoint Hyundai dealership,Public - Membership Required,Hamilton,Ohio,United States,39.263736,-84.336704,2023-05-25
4,Eagles Gas Station,Public,Chatham,North Carolina,United States,35.720474,-79.175109,2023-05-24
...,...,...,...,...,...,...,...,...
55189,CITYOFSANTAROSA,Private - Restricted Access,Sonoma,California,United States,38.438052,-122.711357,2010-11-30
55190,State Capitol Parking Garage,Private - Restricted Access,Sacramento,California,United States,38.576769,-121.495022,2010-10-31
55191,LADWP - John Ferraro Building,Private - Restricted Access,Los Angeles,California,United States,34.059133,-118.248589,2010-08-31
55192,Los Angeles Convention Center,Public,Los Angeles,California,United States,34.040539,-118.271387,2010-08-31
55193,Southern California Edison - Rosemead Office B...,Private - Restricted Access,Los Angeles,California,United States,34.050745,-118.081014,2011-04-30

In [ ]:
df.dtypes

Title            object
Usage_Type       object
County           object
State            object
Country          object
Latitude        float64
Longitude       float64
Date_Created     object
dtype: object

In [ ]:
# Create a new DataFrame with selected columns
state_columns = ['County', 'State', 'Date_Created']
state_df = df[state_columns].copy()
state_df

            County           State Date_Created
0             Sauk       Wisconsin   2023-06-05
1          Oakland        Michigan   2023-06-05
2         Hamilton            Ohio   2023-05-25
3          Chatham  North Carolina   2023-05-24
4        Berkshire   Massachusetts   2023-05-23
...            ...             ...          ...
55188       Sonoma      California   2010-11-30
55189   Sacramento      California   2010-10-31
55190  Los Angeles      California   2010-08-31
55191  Los Angeles      California   2010-08-31
55192  Los Angeles      California   2011-04-30

[55193 rows x 3 columns]

In [ ]:
df['Date_Created'] = pd.to_datetime(df['Date_Created'])
grouped_df = df.groupby(['State', df['Date_Created'].dt.year]).size().reset_index(name='Count')
grouped_df

       State  Date_Created  Count
0    Alabama          2011     12
1    Alabama          2012      6
2    Alabama          2013      4
3    Alabama          2014      7
4    Alabama          2015      6
..       ...           ...    ...
648  Wyoming          2018      7
649  Wyoming          2019     14
650  Wyoming          2020      1
651  Wyoming          2022      3
652  Wyoming          2023     45

[653 rows x 3 columns]

In [ ]:
grouped_df['Cumulative_Count'] = grouped_df.groupby('State')['Count'].cumsum()

In [ ]:
grouped_df.head(100)

       State  Date_Created  Count  Cumulative_Count
0    Alabama          2011     12                12
1    Alabama          2012      6                18
2    Alabama          2013      4                22
3    Alabama          2014      7                29
4    Alabama          2015      6                35
..       ...           ...    ...               ...
95  Delaware          2017      9                31
96  Delaware          2018     10                41
97  Delaware          2019     19                60
98  Delaware          2020      8                68
99  Delaware          2021      1                69

[100 rows x 4 columns]

In [ ]:
usage_columns = ['Usage_Type','County','State']
usage_df = df[usage_columns].copy()
usage_df

                                       Usage_Type       County           State
0      Private - For Staff, Visitors or Customers         Sauk       Wisconsin
1      Private - For Staff, Visitors or Customers      Oakland        Michigan
2                    Public - Membership Required     Hamilton            Ohio
3                                          Public      Chatham  North Carolina
4                    Public - Membership Required    Berkshire   Massachusetts
...                                           ...          ...             ...
55188                 Private - Restricted Access       Sonoma      California
55189                 Private - Restricted Access   Sacramento      California
55190                 Private - Restricted Access  Los Angeles      California
55191                                      Public  Los Angeles      California
55192                 Private - Restricted Access  Los Angeles      California

[55193 rows x 3 columns]

In [ ]:
# Assuming your dataframe is named 'df' and the column you want to use is named 'Usage_Type'
value_counts = df['Usage_Type'].value_counts()

In [ ]:
# Create a new dataframe with columns for the unique values and their counts
table_df = pd.DataFrame({'Usage_Type': value_counts.index, 'Count': value_counts.values})

In [ ]:
# Print the table dataframe
table_df

                                   Usage_Type  Count
0                                      Public  41128
1                Public - Membership Required   3903
2                 Private - Restricted Access   3664
3                    Public - Pay At Location   2354
4                    Public - Notice Required   1648
5  Private - For Staff, Visitors or Customers    788
6                                   (Unknown)     56
7           Privately Owned - Notice Required     17

In [23]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi

In [24]:
# Connect to MongoDB
uri = "mongodb+srv://coryscar:Rutgers123!@atlascluster.hbnzjsz.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi("1"))
# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [29]:
db = client['mydatabase']
collection = db['us_charge_stations_updated']
df.reset_index(inplace=True, drop=True)
data_dict = df.to_dict("records")
# Insert collection
collection.insert_many(data_dict)

InvalidDocument: cannot encode object: <POINT (-83.623 42.226)>, of type: <class 'shapely.geometry.point.Point'>

In [25]:
db = client['mydatabase']
collection = db['us_charge_stations_updated']
df.reset_index(inplace=True)
data_dict = df.to_dict("records")
# Insert collection
collection.insert_many(data_dict)

InvalidDocument: cannot encode object: <POINT (-83.623 42.226)>, of type: <class 'shapely.geometry.point.Point'>